.current
  display: block
.current-gun
  display: block
  border-right: 3px double red
*
  position: relative
  letter-spacing: 1.4px
  margin: 0
  padding: 0
  box-sizing: border-box
html
  font-size: 14px
  line-height: 1.1em
body
  background: black
main
  margin: 30px auto 30px 30px
  width: 80%
  header
    clear: both
    padding: 15px
  ul
    list-style-type: none
    li
      float: left
      margin-left: 15px
      a:link
        color: white
        text-decoration: none
      a:hover
        text-shadow: -3px 3px 5px red, 0px 0px 5px white
      &:last-of-type
        a:hover
          color: black
          text-shadow: 0px 0px 7px red, 3px 3px 7px red, -3px -3px 7px red
  section
    margin: 30px auto 30px 30px
    width: 90%
    height: 75vh
    border: 3px double red
    overflow-x: hidden
    overflow-y: auto
    article
      display: none
      padding: 30px
      position: absolute
      top: 0
      left: 0
      width: 100%

@import 'components/stats'
@import 'components/social'
@import 'components/ability'
@import 'components/firearms'
