.current
  display: block
*
  position: relative
  letter-spacing: 1.4px
  margin: 0
  padding: 0
  box-sizing: border-box
::-webkit-scrollbar
  width: 15px
  height: 7px
::-webkit-scrollbar-thumb
  background: red
  border: 3px solid black
::-webkit-scrollbar-track
  background: transparent
html
  font-size: 14px
  line-height: 1.2em
body
  background-color: black
  background-image: url("../img/dante-timeline.png")
  background-position: top right
  background-repeat: no-repeat
  background-size: cover
  font-family: "Orbitron", monospace, sans-serif
strong,
em
  font-family: "Cinzel", "Times New Roman", serif
main
  margin: 30px auto 30px 30px
  width: 80%
  overflow-y: visible
  header
    clear: both
    padding: 15px
  ul
    float: right
    font-size: 1.3em
    list-style-type: none
    li
      float: left
      margin-left: 30px
      a:link
        color: white
        text-decoration: none
      a:hover
        text-shadow: -3px 5px 5px red, 0px 0px 5px white
      &:last-of-type
        a:hover
          color: black
          text-shadow: 0px 0px 7px red, 3px 3px 7px red, -3px -3px 7px red
  section
    background: transparent
    margin: 30px auto 30px 30px
    min-height: 75vh
    overflow-x: hidden
    overflow-y: auto
    width: 90%
    article
      display: none
      padding: 30px
      position: absolute
      top: 0
      left: 0
      width: 100%

@import 'components/stats'
@import 'components/social'
@import 'components/ability'
@import 'components/firearms'
@import 'components/devil-arms'
