.current
  display: block
*
  position: relative
  letter-spacing: 1.4px
  margin: 0
  padding: 0
  box-sizing: border-box
body
  background: black
main
  margin: 30px auto 30px 30px
  width: 70%
  border: 1px solid black
  header
    clear: both
    padding: 15px
  ul
    list-style-type: none
    li
      float: left
      margin: 0 15px
  section
    margin: 30px auto 30px 30px
    width: 90%
    min-height: 70vh
    border: 3px double red
    overflow-x: hidden
    overflow-y: auto
    article
      display: none
      padding: 30px
      position: absolute
      top: 0
      left: 0
      width: 100%

@import 'components/stats'
