.current {
  display: block; }

* {
  position: relative;
  letter-spacing: 1.4px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 15px;
  height: 7px; }

::-webkit-scrollbar-thumb {
  background: red;
  border: 3px solid transparent; }

::-webkit-scrollbar-track {
  background: transparent;
  padding: 3px; }

html {
  font-size: 14px;
  line-height: 1.2em; }

body {
  background-color: black;
  background-image: url("../img/dmc-bg.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Orbitron", monospace, sans-serif; }

strong,
em {
  font-family: "Cinzel", "Times New Roman", serif; }

main {
  margin: 30px auto 30px 30px;
  width: 80%;
  overflow-y: visible; }
  main header {
    clear: both;
    padding: 15px; }
  main ul {
    float: right;
    font-size: 1.3em;
    list-style-type: none; }
    main ul li {
      float: left;
      margin-left: 30px; }
      main ul li a:link {
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.3s ease; }
      main ul li a:hover {
        color: maroon;
        text-shadow: -3px 5px 5px red, 0px 0px 5px black;
        -webkit-transition: all 0.3s ease; }
      main ul li:last-of-type a:hover {
        color: lightblue;
        text-shadow: 0px 0px 7px cornflowerblue, 3px 3px 7px aqua, -3px -3px 7px aquamarine; }
  main section {
    border-radius: 15px 0px 15px 15px;
    margin: 30px auto 30px 30px;
    min-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90%; }
    main section article {
      display: none;
      padding: 30px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }

#tab-1 h4 {
  color: white;
  display: block;
  font-family: "Cinzel", "Times New Roman", serif;
  font-size: 2em;
  letter-spacing: 3px;
  margin: 15px;
  text-align: center;
  text-shadow: 10px 0px 7px grey, -10px 0px 7px darkgrey, 0px 0px 3px black; }
#tab-1 strong {
  color: skyblue;
  font-style: italic;
  letter-spacing: normal;
  top: 5px;
  opacity: 0.6;
  text-shadow: 0px 0px 1px skyblue, 0px 0px 2px black, 10px 0px 7px crimson, 5px 0px 2px red; }
#tab-1 ul {
  background: url("../img/shoot-the-works.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 15px; }
  #tab-1 ul li {
    float: none;
    margin: 15px 0; }
    #tab-1 ul li em {
      font-family: "Orbitron", monospace, serif;
      color: red;
      left: -15px;
      text-shadow: 0px 0px 2px #330000, 0px 0px 5px #990000, 0px 0px 6px #FF0000;
      z-index: 2; }
      #tab-1 ul li em span {
        font-weight: bolder; }
#tab-1 p {
  color: white;
  font-style: italic;
  margin-bottom: 15px;
  padding: 0 15px;
  text-shadow: 0px 0px 2px #330000, 0px 0px 3px #990000, 0px 0px 6px #FF0000; }

#tab-2 ul {
  color: red;
  display: inline-block;
  float: left; }
  #tab-2 ul li {
    color: white;
    float: none;
    margin-left: 30px;
    text-shadow: 0px 0px 4px #330000, 0px 0px 5px #990000, 0px 0px 9px #FF0000;
    z-index: 2; }
    #tab-2 ul li a:link,
    #tab-2 ul li a:visited {
      color: crimson;
      text-decoration: none; }
    #tab-2 ul li a:hover {
      text-shadow: 0px 0px 5px grey, 3px 0px 5px grey, -3px 0px 5px grey; }
    #tab-2 ul li img {
      margin-left: 15px;
      width: 25px; }
    #tab-2 ul li:first-of-type {
      left: 0;
      margin: 0 0 15px 15px;
      color: white; }
  #tab-2 ul #dog {
    color: blue; }

#tab-3 section {
  background: none;
  float: left;
  max-height: 100% !important;
  margin: 0;
  width: calc(50% - 30px);
  overflow-y: auto; }
  #tab-3 section:last-of-type {
    float: right;
    min-height: 500px; }
  #tab-3 section p {
    color: red;
    margin-bottom: 15px;
    text-shadow: 0px 0px 4px #330000, 0px 0px 5px #990000, 0px 0px 9px #FF0000; }
  #tab-3 section article {
    height: auto;
    padding: 0;
    text-align: right;
    top: 45px; }
    #tab-3 section article strong {
      color: white;
      display: block;
      font-size: 2em;
      font-style: italic;
      margin: 15px; }
      #tab-3 section article strong p {
        font-size: 0.8em;
        z-index: 2; }
  #tab-3 section ul {
    float: right;
    margin: 0 auto; }
    #tab-3 section ul li a {
      z-index: 2; }
      #tab-3 section ul li a img {
        margin: 0 5px;
        width: 25px; }

#tab-4 section {
  background: transparent;
  border: none;
  width: calc(100% - 30px);
  min-height: 600px; }
  #tab-4 section ul {
    width: 100%;
    z-index: 2; }
    #tab-4 section ul li {
      float: left;
      margin: 0 3% 3% 0; }
      #tab-4 section ul li img {
        display: inline;
        text-align: right;
        width: 50px;
        margin-bottom: 20px; }
  #tab-4 section article {
    min-height: 300px;
    padding: 0;
    top: 60px;
    width: 75%; }
    #tab-4 section article strong {
      color: white;
      display: block;
      margin: 15px 0; }
    #tab-4 section article ul {
      display: block;
      float: left;
      list-style-image: url("../img/list-style.png");
      padding-left: 30px; }
      #tab-4 section article ul li {
        color: red;
        float: none;
        margin: 0; }
        #tab-4 section article ul li:last-of-type {
          list-style-image: none; }
        #tab-4 section article ul li p {
          margin: 15px 0; }

#tab-5 section {
  background: transparent;
  min-height: 600px; }
  #tab-5 section ul {
    float: left;
    z-index: 3; }
    #tab-5 section ul li a img {
      height: 50px;
      margin-bottom: 20px; }
  #tab-5 section #sub3-tab-01 strong {
    color: maroon;
    text-shadow: 3px 3px 5px black, 3px 3px 8px darkred; }
  #tab-5 section #sub3-tab-01:after {
    background-image: url("../img/devil-arms/bell.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-02 strong {
    color: lightgrey;
    text-shadow: 3px 3px 5px lightblue, 3px 3px 8px cyan; }
  #tab-5 section #sub3-tab-02:after {
    background-image: url("../img/devil-arms/true-cerberus.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-03 strong {
    color: brown;
    text-shadow: 0px -3px 5px skyblue, 0px 3px 5px orange; }
  #tab-5 section #sub3-tab-03:after {
    background-image: url("../img/devil-arms/true-agni-rudra.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-04 strong {
    color: black;
    text-shadow: 3px 3px 5px purple, 3px 3px 8px violet; }
  #tab-5 section #sub3-tab-04:after {
    background-image: url("../img/devil-arms/true-nevan.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-05 strong {
    color: white;
    text-shadow: 3px 3px 5px yellow, 3px 3px 8px white; }
  #tab-5 section #sub3-tab-05:after {
    background-image: url("../img/devil-arms/true-beowulf.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-06 strong {
    color: slateblue;
    text-shadow: 3px 3px 5px indigo, 3px 3px 8px darkmagenta; }
  #tab-5 section #sub3-tab-06:after {
    background-image: url("../img/devil-arms/true-alastor.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-07 strong {
    color: maroon;
    text-shadow: 3px 3px 5px orange, 3px 3px 8px darkorange; }
  #tab-5 section #sub3-tab-07:after {
    background-image: url("../img/devil-arms/true-ifrit.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-08 strong {
    color: mediumpurple;
    text-shadow: 0px 0px 7px mediumorchid, 0px 0px 5px black, 0px 0px 3px black; }
  #tab-5 section #sub3-tab-08:after {
    background-image: url("../img/devil-arms/true-sparda.png");
    background-position: center;
    background-size: 100% 100%; }
  #tab-5 section #sub3-tab-09 strong {
    color: darkgrey;
    text-shadow: 3px 3px 5px crimson, 3px 3px 8px firebrick; }
  #tab-5 section #sub3-tab-09:after {
    background-image: url("../img/devil-arms/true-gilgamesh.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-10 strong {
    color: dimgrey;
    text-shadow: 0px 0px 5px black, 3px 3px 5px gold, 3px 3px 8px palegoldenrod; }
  #tab-5 section #sub3-tab-10:after {
    background-image: url("../img/devil-arms/true-pandora.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-11 strong {
    color: crimson;
    text-shadow: 3px 3px 5px mediumvioletred, 3px 3px 8px lightcoral; }
  #tab-5 section #sub3-tab-11:after {
    background-image: url("../img/devil-arms/true-lucifer.png");
    background-position: right;
    background-size: auto 100%; }
  #tab-5 section #sub3-tab-12 strong {
    color: navy;
    text-shadow: 3px 3px 5px aqua, 3px 3px 8px blue; }
  #tab-5 section #sub3-tab-12:after {
    background-image: url("../img/devil-arms/merciless.jpg");
    background-position: center;
    background-size: cover; }
  #tab-5 section #sub3-tab-13 strong {
    color: darkgrey;
    text-shadow: none; }
  #tab-5 section #sub3-tab-13:after {
    background-image: url("../img/devil-arms/merciless.jpg");
    background-position: center;
    background-size: cover; }
  #tab-5 section article {
    color: red;
    min-height: 300px;
    top: 11%;
    width: 70%; }
    #tab-5 section article::after {
      background-repeat: no-repeat;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.6;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: -1; }
    #tab-5 section article strong,
    #tab-5 section article em,
    #tab-5 section article p {
      display: block;
      margin-bottom: 10px;
      text-shadow: 0px 0px 3px black, 0px 0px 5px black; }
    #tab-5 section article strong {
      font-size: 2rem;
      margin-bottom: 10px; }
    #tab-5 section article em {
      color: white;
      font-size: 1.5rem;
      margin: 0 0 1rem 1rem; }

/*# sourceMappingURL=style.css.map */
