#tab-5
  section
    background: transparent
    border: none
    width: calc(100% - 30px)
    min-height: 600px
    ul
      width: 100%
      z-index: 2
      li
        float: left
        img
          display: inline
          text-align: right
          height: 50px
          margin-bottom: 20px
    #sub3-tab-01
      strong
        color: maroon
        text-shadow: 3px 3px 5px black, 3px 3px 8px darkred
      &:after
        background-image: url('../img/devil-arms/bell.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-02
      strong
        color: lightgrey
        text-shadow: 3px 3px 5px lightblue, 3px 3px 8px cyan
      &:after
        background-image: url('../img/devil-arms/true-cerberus.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-03
      strong
        color: brown
        text-shadow: 0px -3px 5px skyblue, 0px 3px 5px orange
      &:after
        background-image: url('../img/devil-arms/true-agni-rudra.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-04
      strong
        color: black
        text-shadow: 3px 3px 5px purple, 3px 3px 8px violet
      &:after
        background-image: url('../img/devil-arms/true-nevan.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-05
      strong
        color: white
        text-shadow: 3px 3px 5px yellow, 3px 3px 8px white
      &:after
        background-image: url('../img/devil-arms/true-beowulf.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-06
      strong
        color: slateblue
        text-shadow: 3px 3px 5px indigo, 3px 3px 8px darkmagenta
      &:after
        background-image: url('../img/devil-arms/true-alastor.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-07
      strong
        color: maroon
        text-shadow: 3px 3px 5px orange, 3px 3px 8px darkorange
      &:after
        background-image: url('../img/devil-arms/true-ifrit.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-08
      strong
        color: mediumpurple
        text-shadow: 0px 0px 7px mediumorchid, 0px 0px 5px black, 0px 0px 3px black
      &:after
        background-image: url('../img/devil-arms/true-sparda.png')
        background-position: center
        background-size: 100% 100%
    #sub3-tab-09
      strong
        color: darkgrey
        text-shadow: 3px 3px 5px crimson, 3px 3px 8px firebrick
      &:after
        background-image: url('../img/devil-arms/true-gilgamesh.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-10
      strong
        color: dimgrey
        text-shadow: 0px 0px 5px black, 3px 3px 5px gold, 3px 3px 8px palegoldenrod
      &:after
        background-image: url('../img/devil-arms/true-pandora.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-11
      strong
        color: crimson
        text-shadow: 3px 3px 5px mediumvioletred, 3px 3px 8px lightcoral
      &:after
        background-image: url('../img/devil-arms/true-lucifer.png')
        background-position: right
        background-size: auto 100%
    #sub3-tab-12
      strong
        color: navy
        text-shadow: 3px 3px 5px aqua, 3px 3px 8px blue
      &:after
        background-image: url('../img/devil-arms/merciless.jpg')
        background-position: center
        background-size: cover
    #sub3-tab-13
      strong
        color: darkgrey
        text-shadow: none
      &:after
        background-image: url('../img/devil-arms/merciless.jpg')
        background-position: center
        background-size: cover
    #sub3-tab-14
      strong
        color: black
        text-shadow: 0px 0px 2px white, 3px 3px 5px gold, 3px 3px 8px navy
      &:after
        background-image: url('../img/devil-arms/vergil.png')
        background-position: right
        background-size: auto 100%
    article
      color: red
      min-height: 300px
      top: 11%
      width: 70%
      &::after
        background-repeat: no-repeat
        content: ""
        height: 100%
        left: 0
        opacity: 1
        position: absolute
        width: 100%
        top: 0
        z-index: -1
      strong,
      em,
      p
        display: block
        margin-bottom: 10px
        text-shadow: 0px 0px 3px black, 0px 0px 5px black
      strong
        font-size: 2rem
        margin-bottom: 10px
      em
        color: white
        font-size: 1.5rem
        margin: 0 0 1rem 1rem
