#tab-4
  section
    border: none
    width: calc(100% - 30px)
    min-height: 600px
    ul
      width: 100%
      z-index: 2
      li
        float: left
        margin: 0 3% 3% 0
        img
          display: inline
          text-align: right
          width: 50px
          margin-bottom: 20px
    article
      min-height: 300px
      top: 60px
      width: 75%
      strong
        color: white
        display: block
        margin: 15px 0
      ul
        display: block
        float: left
        list-style-image: url('../img/list-style.png')
        li
          color: red
          float: none
          margin: 0
          &:last-of-type
            list-style-image: none
          p
            margin: 15px 0
